Flask==3.0.2
gunicorn==19.9.0
opencv-python
opencv-contrib-python 
tensorflow
Pillow
flask-cors
SQLAlchemy
pandas
scikit-learn
scipy
rapidfuzz
spotipy
psutil
flask_sqlalchemy
torch==2.0.0+cu117
torchvision==0.15.1+cu117
torchaudio==2.0.1+cu117